<%- include ("../../partials/header") %>
<body>
  <div class="container">
    <hr>
    <div class="card mt-4">
      <div class="card-header">
        <h2>Login admin</h2>
      </div>
      <div class="card-body">
        <form action="/authenticate" method="post">
          <input type="email" name="email" class="form-control" placeholder="email@exemple.com"><br>
          <input type="password" name="password" class="form-control" placeholder="**********"><br>
          <button type="submit" class="btn btn-block btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ("../../partials/footer") %>